<!DOCTYPE html>
<html>
<head>
  <!-- META TAGS -->
  <title>VRConfident, get confident too</title>
  <meta name="description" content="With VRConfident, use Virtual Reality to train and boost your public speaking confidence. Register now for a chance of a free trial!">
  <meta property="og:image" content="http://s3-eu-west-1.amazonaws.com/vrconfident/VRConfident+Public+Speaking+Virtual+Reality+boost+your+confidence.png">

  <!-- FAVICON -->
  <%= favicon_link_tag 'favicon.png' %>
  <%= csrf_meta_tags %>

  <!-- RESPONSIVITY -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <!-- CSS -->
  <%= stylesheet_link_tag    'application', media: 'all' %>

  <!-- GOOGLE ANALYTICS -->


</head>

<body class='<%= "#{params[:controller]}-#{params[:action]}".gsub('_', '-') %>'>

  <!-- Has to be loaded first for the homepage effects -->
  <%= javascript_include_tag 'application' %>
  <%= render 'shared/navbar' %>
  <%= render 'shared/flashes' %>
  <div class='site-content'>
    <%= yield %>
  </div>
  <%= render 'shared/footer' %>

  <%= yield :javascript %>

</body>

</html>
